/*--------------------------------------------------------------------
All
---------------------------------------------------------------------*/
*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

::selection {
    color: white;
    background-color: black;
}

.Margin__Position__Load {
    margin: 25%;
}

.Bg__HTML {
    background-color: #ffffff;
    background-image: url("../img/TexturesTransparent.png");
}

.text-justify {
    text-align: justify;
}

/*--------------------------------------------------------------------
Page__1 Main__Home
M.Dybrovskyi and Kucher.O
---------------------------------------------------------------------*/

.button {
    position: absolute;
    left: 71px;
    top: 732px;
    background-color: black;
    color: white;
}

/* Oleksiy root */
:root {
    --color-primary: #000000;
    --small: 320px;
    --medium: 640px;
    --large: 768px;
    --extra-large: 1024px;

}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: var(--color-primary);
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: var(--color-primary);
}

.price {
    font-style: normal;
    font-weight: 450;
    font-size: 24px;
    line-height: 31px;
    color: var(--color-primary);
}

.color__link {
    display: flex;
}

.color__link-rectangle {
    display: flex;
    width: 82px;
    height: 37px;
    padding: 4px;
    margin-top: 10px;
    border: 3px solid var(--color-primary);
    text-decoration: none;
}

.slick-btn {
    position: absolute;
    top: 50%;
    border: none;
    background-color: transparent;
    z-index: 5;
    cursor: pointer;
}

/* end Oleksiy root */


/*--------------------------------------
Seniv Pavlo
---------------------------------------*/

/* Header */

.nav-link {
    text-align: center;
    font-size: 20px;
}

/*Animation Navbar */

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

/* stroke */
nav.stroke ul li a {
    position: relative;
}

nav.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    content: '';
    color: transparent;
    background: #ffffff;
    height: 1px;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}

/*End Animation Navbar*/

.navbar-brand {
    font-size: 25px;
}

.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
    position: relative;
    margin-right: 110px;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgb(255, 0, 0);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: rgba(255, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus:after {
    color: rgb(255, 0, 0);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
    color: rgba(255, 0, 0, 0.9);
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 0;
}

.btn-outline-success {
    color: #ffffff;
    border-color: #000000;
}

.btn-outline-success:hover {
    color: #000000;
    background-color: #effff8;
    border-color: #000000;
}

.btn-check:focus + .btn-outline-success, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
}

.row {
    --bs-gutter-x: 0;

}

.Bg__Navbar__Black {
    background-color: #000000;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    border-color: rgba(0, 0, 0, 0);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.header__input {
    width: 250px;
    height: 30px;
    margin-right: 10px;
}

.header__btn {
    width: 150px;
    padding: 3px;
}

.navbar-brand-text {
    position: absolute;
    top: 30%;
    left: 50px;
}


.form-control {
    color: #000000;
    background-color: #fff;
    border: 3px solid #000000;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #000000;
    background-color: #fff;
    border-color: #000000;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

/* End Header */

/* Button and a */
.btn {
    background-color: #fff;
    border: 3px solid #000000;

    transition: all .2s linear;
}

.btn:hover {
    background-color: #000000;
    color: #fff;
}


/* end Button and a */

/***************************************************
Page 1
****************************************************/

/* Top */

.top__inner {
    background-image: url('../img/BackgroundPage1/top.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.Top__Content {
    padding: 600px 20px;
}

.Top__Title {
    color: #ffffff;
    font-size: 5vh;
}

.Top__Text {
    line-height: 80px;
    color: #ffffff;
    font-size: 5vh;
}

/* end top */

/* Slider category */
.slider__category {
    padding: 210px 0;
}

.carousel-inner {
    width: 100%;
    position: relative;
}

.carousel-item {
    height: 319px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.slider__category-img {
    margin: auto;
    margin-top: 44px;
    width: 30%;
    height: 184px;
}

.slider__category-text {
    margin-top: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
    -webkit-text-fill-color: rgba(0, 0, 0, 0.1);
}

.carousel-control-prev {
    height: 320px;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 3;
}

.carousel-control-next {
    height: 320px;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.carousel-control-next-icon {
    transform: rotate(180deg);
}

/* End slide category */

/* Desc */
.desc {
    background: #F2F2F2;
}

.desc__text {
    width: 100%;
    padding: 49px 70px 52px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: var(--color-primary);
}

/* End desc */

/* Offers */
.offers {
    padding-top: 150px;
    padding-bottom: 150px;
}

.offers__title {
    margin-bottom: 153px;
}

.offers__item {
    margin-bottom: 100px;
    position: relative;
}

/*Анімація коливання для блоку Offers*/

@keyframes offers__item {
    15% {
        transform: translateX(9px);
    }
    30% {
        transform: translateX(-9px);
    }
    40% {
        transform: translateX(6px);
    }
    50% {
        transform: translateX(-6px);
    }
    65% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(0);
    }
}

.offers__item:hover {
    animation: offers__item 0.6s ease;
    animation-iteration-count: 1;
}

/*End anim Offers*/


.offers__item-img {
    position: absolute;
    bottom: 190px;
    left: 50%;
    margin-left: -50px;
}

.offers__item-content {
    height: 250px;
    padding: 20px;
    background: #F2F2F2;
    color: var(--color-primary);
}

.offers__item-title {
    white-space: nowrap;
    padding-top: 52px;
    margin: 0 16px 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
}

.offers__item-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

/* End offers */

/* News */
.Margin__News__Page1 {
    margin-bottom: 80px;
}

.news__title {
    margin-bottom: 63px;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 60px;
    text-align: center;

}

.news__item {
    width: 338px;
    color: var(--color-primary);
    margin-left: 30px;
    margin: 0 auto;
}

.news__item-content {
    background: #F2F2F2;
    padding: 10px;
}

.news__item-title {
    margin-top: 20px;
    margin-bottom: 14px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
}

.news__item-text {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

/* Створення ефекту Glowind Button*/
.news__item-btn {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 20px 20px;
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    vertical-align: bottom;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
}

.news__item-btn:hover {
    background: #000000;
    color: #ffffff;
    box-shadow: 0 0 5px #000000,
    0 0 25px #000000,
    0 0 50px #000000,
    0 0 200px #000000;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.33));
}

/*
.news__item-btn {
    filter: hue-rotate(270deg); //Робить колір інвертованим
}
*/

.news__item-btn span {
    position: absolute;
    display: block;
}

.news__item-btn .Span__Line__Animate1 {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #000000);
    animation: Line__Animate1 1s linear infinite;
}

@keyframes Line__Animate1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.news__item-btn .Span__Line__Animate2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #000000);
    animation: Line__Animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes Line__Animate2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.news__item-btn .Span__Line__Animate3 {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #000000);
    animation: Line__Animate3 1s linear infinite;
    animation-delay: 0.50s;
}

@keyframes Line__Animate3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}


.news__item-btn .Span__Line__Animate4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #000000);
    animation: Line__Animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes Line__Animate4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}

/* End Ефект Glowind Button*/

/*Для задання збільшення зображення*/
.Scale__Img__Hover {
    display: block; /*Рядково-блочний елемент*/
    overflow: hidden; /*Ховаємо все за контуром*/
}

.Scale__Img__Hover .Img__News__Page1 {
    transition: 1s; /*Час ефекту*/
    display: block;
}

.Scale__Img__Hover .Img__News__Page1:hover {
    transform: scale(1.2); /*Збільшення масштабу*/
}

/* End news */

/* HelloBlock */
.helloBlock {
    padding-top: 260px;
    padding-bottom: 227px;
    background: url('../img/Page1/bg-hello.png') left bottom no-repeat;
}

.helloBlock__form {
    display: block;
    text-align: center;
}

.helloBlock__title {
    margin-bottom: 20px;
}


.helloBlock__input {
    margin-bottom: 30px;
}

.helloBlock__btn {
    display: block;
    width: 252px;
    margin: 0 auto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #fff;
    padding: 11px 38px;
    border: 3px solid var(--color-primary);
    background-color: var(--color-primary);
    cursor: pointer;
    transition: all .2s linear;
}

.helloBlock__btn:hover {
    background-color: inherit;
    color: var(--color-primary);
}

.toast {
    cursor: pointer;
    box-sizing: border-box;
    display: none;
    width: 100%;
    max-width: var(--medium);
    font-size: 0.825em;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: #ffffff;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
    transition: 0.2s ease-in;
}

.toast--active {
    display: flex;
    animation: slidein--bottom 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

.toast--success {
    border-color: #ffffff;
    background: #000000;
    color: #ffffff;
}

.toast__container {
    box-sizing: border-box;
    padding: 0em 1em;
    position: fixed;
    width: 100%;
    max-width: var(--medium);
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
}

.toast__icon {
    height: 60px;
    width: 60px;
    box-sizing: border-box;
    padding: 1em;
    display: none;
    align-items: center;
    justify-content: center;
}

.toast__icon svg {
    height: 100%;
}

.toast__content {
    box-sizing: border-box;
    padding: 1em;
}

.toast__content h2 {
    margin: 0 0 0.25em 0;
    padding: 0;
    font-size: 1.2em;
}

.toast__content p {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

@keyframes slidein--bottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* End helloBlock */

/***************************************************
Page 2
****************************************************/

/* CatalogTop */
.catalogTop__inner {
    background-image: url('../img/Page2/Categories__Bike.png');
    background-size: cover;
    height: 100vh;
    position: relative;
}

.catalogTop__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.catalogTop__img {
    width: 35vw;
    margin-right: 30px;
}

.catalogTop__main {
    color: #fff;
    margin-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    /*width: 632px;*/
}

.catalogTop__main-title {
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 60px;
    margin-bottom: 60px;
}

.catalogTop__main-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 20px;
}

/* End CatalogTop */

/* Product Item */
.Card__Page2__Items {
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-radius: 0;
}

.card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: var(--color-primary);
}

.card-price {
    font-style: normal;
    font-weight: 450;
    font-size: 24px;
    line-height: 31px;
}

.card-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: var(--color-primary);
}


.card-body {
    flex: 1 1 auto;
    padding: 8rem 4rem;
}

.Bg__Info__Div {
    background-color: #F2F2F2;
}

.Button__Info {
    width: 100%;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 18px;
    background-color: #f2f2f2;
}

.btn-check:focus + .Button_Color, .Button_Color:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
}


/* End Product Item */

/*--------------------------------------------------------------------
Page__3 Item__Product
O.Kucher
---------------------------------------------------------------------*/

/*---------------------------------------------
HEAD
----------------------------------------------*/

/*футер*/
.footer-bottom {
    background: #000;
}

.address-grids-by p, .address-grids-by p a {
    font-size: 14px;
    color: #8c8c8c;
    line-height: 25px;
}

.bottem-wthree-footer p {
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
}

.bottem-wthree-footer p a {
    color: #00d0ff;
    font-size: 14px;
}

.bottem-wthree-footer p a:hover {
    color: #fff;
}

.bottem-wthree-footer {
    background: #000;
}

.footer-below-grids {
    margin-bottom: 1rem;
}

.footer-below-grids h4 {
    color: #fff;
    font-size: 22px;
}

.Nav__link__footer {
    display: block;
    color: #8c8c8c;
    text-decoration: none;
}

.Nav__link__footer-2 {
    display: inline-block;
    color: #8c8c8c;
}


.Nav__link__footer:hover {
    text-decoration: underline;
    text-decoration: white;
    color: #ffffff;
}

.Nav__link__footer-2:hover {
    color: #ffffff;
}

.Nav__link__footer__nav {
    display: block;
    text-align: center;

}


/*--footer--*/


/* Header */
.header__logo {
    filter: brightness(0);
}

/* End Header */

/* Product */
.product__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.backgroundForSlider {
    padding-bottom: 100px;
    background-color: #ccc;
}

.photo__slider {
    max-width: 770px;
    height: 430px;
    position: relative;
    margin-bottom: 100px;
}

.photo__slider-title {
    margin-bottom: 100px;
}

.slider__image {
    max-width: 100%;
}

.photo__dot {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;

}

.photo__dot::before {
    content: "";
    background-image: url('../img/Page2/line.png');
    color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    width: 166px;
    height: 121px;
    position: absolute;
    top: -64px;
    left: 14px;
    display: none;
}

.photo__dot::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fffffff0;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .2s linear, height .2s linear;
}

.photo__dot:hover::after {
    width: 32px;
    height: 32px;
}

.photo__dot:hover::before {
    display: block;
}

.photo__dot:hover .photo__dot-text {
    display: block;
}

.photo__dot:hover .photo__dot-text--4 {
    display: block;
}

.photo__dot--1 {
    top: 210px;
    left: 223px;
}

.photo__dot--2 {
    top: 338px;
    left: 655px;
}

.photo__dot--3 {
    top: 278px;
    right: 299px;
}

.photo__dot--4 {
    bottom: -97px;
    right: 453px;
}

.photo__dot--4::before {
    width: 176px;
    top: -11px;
    left: 20px;
    transform: rotateX(180deg);
}

.photo__dot-text {
    white-space: nowrap;
    position: absolute;
    top: -89px;
    left: 115px;
    display: none;
}

.photo__dot-text--4 {
    white-space: nowrap;
    position: absolute;
    top: 112px;
    left: 119px;
    display: none;
}

.product__about {
    width: 302px;
    margin: 0 auto;
}

.product__about-title {
    padding-bottom: 7px;
    margin-top: 139px;
}

.product__about-price {
    padding-bottom: 17px;
    margin-bottom: 20px;
    border-bottom: 1px solid #F2F2F2;
}

.product__about-color {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #F2F2F2;
}

.product__about-color span {
    font-weight: normal;
}

.product__about-color img {
    margin-top: 10px;
    padding: 3px;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
}

.product__about-frame {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid #F2F2F2;
}

.product__about-frame span {
    font-weight: normal;
}

.product__about-frame img {
    padding: 2px;
    border: 3px solid var(--color-primary);
    margin-right: 14px;
}

.product__about-frame p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    align-items: center;
    color: var(--color-primary);
}

.product__about-order {
    padding: 10px 110px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}

.product__about-total {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 40px;
}

.product__desc {
    margin-left: 71px;
    width: 930px;
}

.product__desc-title {
    margin-bottom: 22px;
}

.product__desc-text p {
    margin-bottom: 30px;
}

/* End Product */

/* AnotherModel */
.anotherModel {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    top: 0;
    padding-bottom: 80px;
    margin-top: 140px;
}

.anotherModel__container {
    max-width: 1310px;
    padding: 0 10px;
    margin: 0 auto;
}

.anotherModel__title {
    text-align: center;
    margin-bottom: 164px;
}

.anotherModel__items {
    display: flex;
    justify-content: space-between;
}

.anotherModel__item {
    position: relative;
}

.anotherModel__item-img {
    position: absolute;
    bottom: 135px;
    left: 50%;
    transform: translate(-50%);
}

.anotherModel__item-content {
    width: 413px;
    height: 234px;
    background-color: #ccc;
}

.anotherModel__item-title {
    padding-top: 118px;
    margin-left: 31px;
    display: flex;
}

.anotherModel__color {
    width: 16px;
    height: 16px;
    margin-left: 103px;
}

.color__blue {
    margin-left: 63px;
    margin-right: 66px;
}

.anotherModel__color img {

    padding: 3px;
    border: 1px solid #DBDBDB;
    border-radius: 50%;
}

.anotherModel__item-price {
    margin-left: 31px;
}

/* End AnontherModel */

/* Modal */
.modal {
    display: none;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    overflow: auto;

    background-color: rgba(19, 22, 53, .9);;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
}

.modal.show {
    display: flex;
}

.modal-dialog {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    position: relative;

    background-color: #fff;

    transform: rotateX(90deg);
    transition: transform .4s linear;

}

.modal__title {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 60px;
    text-align: center;
    color: var(--color-primary);
    margin-top: 60px;
    margin-bottom: 50px;
}

.modal__order-subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: var(--color-primary);
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.modal__content-img {
    width: 100%;
    margin-bottom: 20px;
}

.modal__order {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.modal__order-content {
    margin-left: 70px;
    margin-right: 141px;
    /* padding-bottom: 200px; */
    max-width: 524px;
    margin: 0 auto;
}

.modal__content-text {
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 23px;
    color: var(--color-primary);
    text-align: left;
}

.modal__content-price {
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 23px;
    color: var(--color-primary);
    text-align: center;
}

.modal__content-price span {
    font-weight: bold;
}

.modal__content-button {
    margin-top: 20px;
    margin-right: 40px;
    width: 280px;
}

.modal__order-close {
    width: 280px;
    height: 50px;
    margin-top: 20px;
}

.order__form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    width: 626px;
}

.form__group {
    margin-bottom: 20px;
}

.form__group-special {
    margin-right: 100px;
}

.form__label {
    display: inline-block;
}

.form__input,
.form__select {
    display: block;
    width: 280px;
    height: 40px;
    border: 3px solid var(--color-primary);
    transition: border-color .2s linear;
}

.form__select {
    appearance: none; /* Забрати стрілку select */
    overflow: hidden;
    background: url('../img/Page2/arrow_for_select.png') no-repeat right;
    background-position: 250px;
    background-size: 13px;
}

.form__select option {
    margin-left: 30px;
}

.form__input:focus,
.form__select:focus {
    outline: none;
    border-color: #6b6363;
}

/* End Modal */

/*Page_news.html Mykhailo Dubrovskyi*/

.Page__news_H1 {
    padding-top: 166px;
    text-align: center;
    color: black;
}

.Card__news {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;

}

/*Для анімації при наведенні на блок з новиною*/
.Card__news {
    transition: all 0.25s ease;
}

.Card__news:hover {
    box-shadow: 0 30px 45px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/*-------------------------------*/

.Card__news-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background: black;
    color: white;
}

.Card__news-text:last-child {
    margin-bottom: 0;
}

/*
.Card__news-photo {
    max-width: 1200px;
    max-height: 770px;
}
*/

/*Анімація фотографії з новиною ефект Rotate__Animation*/

span {
    overflow: hidden;
}

.Rotate__Animation span img {
    transform: rotate(15deg) scale(1.4);
    transition: .3s ease-in-out;
}

.Rotate__Animation span:hover img {
    transform: rotate(0) scale(1);
}

/*---------------------------------------------------*/

@media (min-width: 993px) and (max-width: 1200px) {

    .Top__Content {
        padding: 600px 20px;
    }

    .Top__Title {
        color: #ffffff;
        font-size: 5vh;
    }

    .Top__Text {
        line-height: 40px;
        color: #ffffff;
        font-size: 4vh;
    }

    .offers__item-img {
        position: absolute;
        bottom: 200px;
        left: 50%;
        margin-left: -50px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .catalogTop__img {
        display: none;
    }


    .Top__Content {
        padding: 500px 20px;
    }

    .Top__Title {
        text-align: center;
        color: #ffffff;
        font-size: 5vh;
    }

    .Top__Text {
        text-align: center;
        line-height: 40px;
        color: #ffffff;
        font-size: 4vh;
    }

    .offers__item-img {
        position: absolute;
        bottom: 190px;
        left: 50%;
        margin-left: -50px;
    }

    .form__group {
        margin-left: 170px;
    }

    .modal__content-button {
        margin-right: 80px;
        margin-left: 170px;
        height: 50px;
    }

    .modal__order-close {
        margin-left: 170px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .catalogTop__img {
        display: none;
    }

    .photo__dot--2 {
        top: 318px;
        left: 565px;
    }

    .backgroundForSlider {
        display: none;
    }


    .photo__dot--4 {
        bottom: -91px;
        right: 453px;
    }


    .Top__Content {
        padding: 500px 20px;
    }

    .Top__Title {
        text-align: center;
        color: #ffffff;
        font-size: 5vh;
    }

    .Top__Text {
        text-align: center;
        line-height: 40px;
        color: #ffffff;
        font-size: 3vh;
    }

    .offers__item-img {
        position: absolute;
        bottom: 180px;
        left: 50%;
        margin-left: -50px;
    }

    .form__group {
        margin-left: 170px;
    }

    .modal__content-button {
        margin-right: 80px;
        margin-left: 170px;
        height: 50px;
    }

    .modal__order-close {
        margin-left: 170px;
    }

}

@media (min-width: 361px) and (max-width: 575px) {
    .slider__category-img {
        width: 60%;
    }

    .backgroundForSlider {
        display: none;
    }

    .modal__title {
        font-size: 42px;
    }

    .Top__Content {
        padding: 500px 20px;
    }

    .Top__Title {
        text-align: center;
        color: #ffffff;
        font-size: 5vh;
    }

    .Top__Text {
        text-align: center;
        line-height: 40px;
        color: #ffffff;
        font-size: 3vh;
    }

    .offers__item-img {
        position: absolute;
        bottom: 180px;
        left: 50%;
        margin-left: -50px;
    }

    .form__group {
        margin-left: 170px;
    }

    .modal__content-button {
        margin-right: 80px;
        margin-left: 170px;
        height: 50px;
    }

    .modal__order-close {
        margin-left: 170px;
    }
}


@media (max-width: 360px) {

    .backgroundForSlider {
        display: none;
    }

    .Top__Content {
        padding: 500px 20px;
    }

    .Top__Title {
        text-align: center;
        color: #ffffff;
        font-size: 5vh;
    }

    .Top__Text {
        text-align: center;
        line-height: 40px;
        color: #ffffff;
        font-size: 3vh;
    }

    .navbar-brand-text {
        display: none;
    }

    .catalogTop__main {
        margin-top: 100px;
    }

    .catalogTop__main-title {
        font-size: 46px;
    }

    .catalogTop__main-text {
        font-size: 14px;
    }

    .slider__category-img {
        width: 80%;
    }

    .offers__item-img {
        position: absolute;
        bottom: 180px;
        left: 50%;
        margin-left: -50px;
    }

    .form__group {
        margin-left: 170px;
    }

    .modal__content-button {
        margin-right: 80px;
        margin-left: 170px;
        height: 50px;
    }

    .modal__order-close {
        margin-left: 170px;
    }
}

